<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="ufficio.yaml"/>
 <arg name="map_path" default ="maps"/>
 <!-- <arg name="map_file" default="corridoio_all_good.yaml"/>
 <arg name="map_path" default ="map_cubo"/>-->
 <node name="map_server" pkg="map_server" type="map_server" args="$(find mybot_navigation)/$(arg map_path)/$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find mybot_navigation)/launch/include/amcl.launch" />

 <!--- Run Move Base -->
 <include file="$(find mybot_navigation)/launch/include/move_base.launch" />

</launch>
