<launch>
	<node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
		<param name="serial_port" value="/dev/ttyACM0"/>
		<param name="frame_id" value="laser"/>
		<param name="angle_min" value="-1.5707963"/>
		<param name="angle_max" value="1.5707963"/>

	</node>

	
	<!--<node name="rvi" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find corobot_hokuyo)/hokuyo_test.vcg"/>
-->
</launch>
